name: Generate Snake Animation
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Platane/snk@v3
        with:
          github_user_name: Thu-Hong-oo
          outputs: |
            dist/snake.svg
            dist/snake-dark.svg?palette=github-dark
            dist/octree-dark.svg
      - uses: actions/upload-artifact@v4
        with:
          name: snake-animation
          path: |
            dist/snake.svg
            dist/snake-dark.svg
      - uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
